.h {
  color: blue;
  font-size: 3vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-left: 40%;
  margin-top: 5%;
}
a.link{
    font-size: 1.5vw;
    font-weight: bold;
    color: rgba(223, 10, 10, 0.8);
  }
  a.link:hover {
    color:red;
    border:.1vw solid red;
  }
  a.sign {
    color: rgba(223, 10, 10, 0.8);
    font-size: 1vw;
    font-weight: bold;
  }
  a.sign:hover{
    color: green;
    border:.1vw solid red;
  }
  a.profile {
    color: rgba(223, 10, 10, 0.8);
    margin-right: 5%;
    font-weight: bold;
  }
 
  
  a.cart {
    color: rgba(223, 10,10,.8);
    margin-left: 5%;
    font-weight: bold;
  }
  .grp {
    padding: 1rem;
  }
   .grp:hover {
    border: .1vw solid red;
  }
  
  .navbar {
    height: 5vw;
    
  }
  .bi {
    font-size: 2vw;
    margin-left: 20%;
    color: rgba(223, 10, 10, 0.8);
  }
  
  .nb {
    background-color: rgba(34, 3, 97, 0.7);
   }
   .lin {
    color: white;
    font-size: 1.3vw;
    margin-left: 1vw;
   }
   .lin:hover {
    border: 1px solid white;
    color: white;
   }
   
   